*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.callback{
    margin: 200px auto;
    width: 25%;
    border: 2px solid #aaa;
}

.form-head{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    height: 50px;
    text-transform: uppercase;
}

.form-body{
    background-color: #fff;
    padding-top: 15px;
}

.form-submit{
    background-color: rgb(235, 235, 235);
    height: 50px;
    border-top: 1px solid #ccc;
}

input[type="submit"]{
    display: block;
    position: relative;
    top: 10px;
    right: 5%;
    float: right;
    height: 30px;
    width: 90px;
}

input[type="text"], input[type="tel"] , textarea{
    display: block;
    margin: 10px auto;
    width: 95%;
    border-radius: 5px;
    border: 1px solid #ddd;
}

input[type="text"], input[type="tel"] {
    height: 30px;
}

textarea{
    resize: vertical;
}

#btn-close{
    position: relative;
    float: right;
    right: 50px;
}

#btn-close a{
    text-decoration-line: none;
    color: gray;
    text-transform: lowercase;
}

.form-head h3{
    position: relative;
    top:15px;
    left: 10px;    
}

.form-body p{
    font-size: 14px;
    color: #777;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}